/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

/* body {
  background-image: url(img/music-note-BG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  margin-left: 33%;
  margin-top: 5%;
}

h2, p {
  text-align: center;
}

p {
  font-size: 1.25rem;
}
section {
  margin-left: 25%;
  width: 50%;
  background: black;
  color: white;
  border-radius: 3%;
  border: 10px solid red;
  height: 20%;
}

input {
  width: 25%;
  margin: 5% 2%;
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
}

#bothBut {
  margin-top: 2%;
}

#scaleBut {
  margin-left: 8%;
}
#mode, #scale {
  height: 20%;
}

audio {
  margin: 0 25% 3% 25%;
  background-color: red;
} */

/******************************************
/* Index2 STYLES
/*******************************************/

html {
  background-color: black;
  color: whitesmoke;
}

.gridItem0 {
  grid-area: title;
}

.gridItem1 {
  grid-area: nav;
}
.gridItem2 {
  grid-area: scale;

}

.gridItem3 {
  grid-area: mode;
 
}

.gridItem4 {
  grid-area: buttons;
}

.gridItem5 {
  grid-area: audioPlayer;
  background-color: #666666;
}

.container {
  display: grid;
  grid-template-areas: 
  'title title title'
  'nav scale mode'
  'nav buttons buttons'
  'nav audioPlayer audioPlayer';
  padding: 10px;
  gap: 20px;
  height: 100%;
  grid-template-rows: 33px -1fr;
}
.title, .scale, .mode, .buttons, .nav, .audioPlayer {
  border: 2px solid whitesmoke; 
  border-radius: 25px;
}

.scale, .mode {
  height: 200px;
  text-align: center;
  font-size: 2rem;
}

.nav {
  text-align: center;
  height: 400px;
  font-size: 2rem;
  width: 50%;
}

.buttons {
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.title {
  text-align: center;
  font-size: 2rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

input {
  height: 25px;
  margin: 1.5%;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:25px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size: 0.85rem;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

h3, h4 {
  margin-top: 1%;
}

audio {
  width: 100%;
  border-radius: 25px;
  padding: 2%;
  color: whitesmoke;
}

footer {
  margin-top: 1%;
  text-align: center;
  font-size: medium;
  background: white;
  height: 20px;
  width: 100%;
}

img {

  height: 200px;
  width: 100%;
}

/* .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 50%;
}

.nav h3 {
  width: 75%;
  margin-top: -75px;
}

.modeName {
  width: 75%%;
  margin: 1% 12%;
} */

p {
  font-size: 1rem;
  width: 75%;
  margin: 1% 12%;
}